@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(173, 59, 239);
    background-repeat: none;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

.main {
    text-align: center;
    padding: 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background: linear-gradient(0deg, rgba(195,195,195,1) 0%, 
    rgba(237,238,241,1) 100%);
    border-radius: 10px;
}
.main h1 {
    font-size: 35px;
}
#signature-pad {
    margin-top: 30px;
    border: 2px solid rgb(30, 30, 30);
    background-color: rgb(255, 255, 255);
}
#clear-button, #download-button {
    margin: 10px;
    padding: 5px 10px;
    cursor: pointer;
}
#clear-button {
    border-radius: 4px;
    border: none;
    background-color: rgb(255,61,80);
    color: rgb(255, 255, 255);
}
#download-button {
    border-radius: 4px;
    border: none;
    background-color: rgb(29, 25, 234);
    color: rgb(255, 255, 255);
}